<div class="txt-center large-page-heading margin-top-30">
	Search Available Jobs
</div>
<button id="drop" onclick="drop()">Drop Markers</button>

<!--Dashboard Map and List View-->
<div id="dw-dashboard-main">
    <div class="container-full margin-top-20">
        <div class="col-sm-12 txt-right" style="padding-right:10px;">
            <a id="toggle-map-view" class="btn btn-info"><i class="fa fa-map-marker"></i> Map View</a>
            <a id="toggle-list-view" class="btn btn-info" style="margin-left:10px;"><i class="fa fa-list"></i> Hybrid View</a>
            <a class="btn btn-warning" style="margin-left:10px;" data-toggle="modal" data-target="#change-zip-modal"><i class="fa fa-gears"></i> Change Zip</a>
        </div>
    </div>
    
    <!--DW Map-->
    <div id="dw-dashboard-column-one" class="no-pad" style="padding-right:5px;">
        <div class="container-full margin-top-10">
            <div id="dw-dashboard-main-map" class="col-sm-12">
                <!--MAP HERE-->
            </div>
        </div>
    </div>
    <!--/DW Map-->
    
    <!--DW Listings-->
    <div id="dw-dashboard-column-two" class="no-pad" style="padding-left:5px;">
    	
        <% @client_listings.each do |listing| %>

        <!--One Listing-->
        <div class="dw-dashboard-listing-modbox">
            <div class="dw-listing-title">
                <%= listing.title %>
            </div>
            <div class="dw-listing-desc margin-top-10">
            	<%= listing.description %>
            </div>
            <div class="row margin-top-10">
            	<div class="col-sm-4">
                	<div>
                    	<strong>Days:</strong>
                    </div>
                    <div class="margin-top-10">
                    	<% listing.days.each_with_index do |day, index| %>
                            <% if index == listing.days.length - 1 %>
                                <%= day %>
                            <% else %>
                                <%= day + ", " %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="col-sm-3">
                	<div>
                    	<strong>Pay:</strong>
                    </div>
                    <div class="margin-top-10">
                    	<%= listing.rate %>
                    </div>
                </div>
                <div class="col-sm-3">
                	<div>
                    	<strong>Dogs:</strong>
                    </div>
                    <div class="margin-top-10">
                    	<% listing.dogs.each_with_index do |dog, index| %>
                            <% if index == listing.dogs.length - 1 %>
                                <%= dog %>
                            <% else %>
                                <%= dog + ", " %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <!--/One Listing-->
        
        <% end %>

    </div>
    <!--/DW Listings-->
    
</div>
<!--/Dashboard Map and List View-->

<!--Change Zip Modal-->
<div class="modal fade" id="change-zip-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            	<h4 class="modal-title txt-center">Change Zip</h4>
            </div>
            <div class="modal-body">
                <div>
                    <input id="new-dw-zip" type="tel" class="form-control" placeholder="New Zipcode" />
                </div>
                <div class="margin-top-10 txt-center">
                    <a id="change-zip-button" class="btn btn-primary">Change</a>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!--Change Zip Modal-->

<!--Submit Proposal Modal-->
<div class="modal fade" id="submit-prop-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            	<h4 class="modal-title txt-center">Submit Proposal</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                	<div class="col-sm-3">
                    	<img src="/assets/cute-dog.jpg" class="img-responsive" />
                    </div>
                    <div class="col-sm-9">
                    	<div>
                        	<strong>About Rover:</strong>
                        </div>
                        <div>
                        	I am a cute dog and love to play with toys!
                        </div>
                        <div class="margin-top-10">
                        	<strong>Breed:</strong>
                        </div>
                        <div>
                        	Maltest Mix
                        </div>
                    </div>
                </div>
                <div class="row margin-top-20">
                	<div class="col-sm-3">
                    	<img src="/assets/cute-dog-2.jpg" class="img-responsive" />
                    </div>
                    <div class="col-sm-9">
                    	<div>
                        	<strong>About Riley:</strong>
                        </div>
                        <div>
                        	I am a cute dog and love to play with toys!
                        </div>
                        <div class="margin-top-10">
                        	<strong>Breed:</strong>
                        </div>
                        <div>
                        	Maltest Mix
                        </div>
                    </div>
                </div>
                
                <div class="margin-top-30">
                	<strong>Request Job:</strong>
                </div>
                <div class="margin-top-10">
                	<textarea class="form-control" style="height:100px;" placeholder="Use this space to assure the dog owner that you are the person for this task."></textarea>
                </div>
            </div>
            <div class="modal-footer txt-right">
            	<a class="btn btn-default" href="#" data-dismiss="modal">Close</a>
                <a class="btn btn-primary" href="#">Submit</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!--Submit Proposal Modal-->
