<div class="row">
	<div class="col-md-4">
		<h1>Walkers Listing</h1>
		<%= @walkers.inspect %>
		<hr>
	</div>
	<div class="col-md-8">
		<!-- If user is signed in, display all options -->
		<% if not @owner.nil? %>
		<div class="panel panel-primary">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Owner Info	<button class="btn btn-xs btn-warning pull-right" data-toggle="modal" data-target="#update_owner"><%= fa_icon "pencil" %></button></div>
  		  <div class="panel-body">
			<p><strong>Name:</strong> <%= @owner.user.name %></p>
			<p><strong>Address:</strong> <%= @owner.address %></p>
			<p><strong>Zipcode:</strong> <%= @owner.zipcode %></p>
			<p><strong>Phone:</strong> <%= @owner.phone %></p>
		  </div>
		</div>		
		<hr>
		<div class="panel panel-primary">
		  <div class="panel-heading">Job Listing<button class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#add_job"><%= fa_icon "plus" %></button>
		  </div>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Job Title</th>
						<th>Rate</th>
						<th style="width: 1%"></th>
						<th style="width: 1%"></th>
					</tr>
				</thead>
				<tbody>
				<% @owner.jobs.each do |job| %>
					<tr>
						<td><%= link_to job.title, job %></td>
						<td><%= job.rate %></td>
						<td><%= link_to "View", job, :class => "btn btn-primary btn-xs" %></td>
						<td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger" %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
		<hr>
		<h3>Dogs List</h3>
		<% @owner.dogs.each do |dog| %>
		<div class="panel panel-primary">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><%= dog.name %><span class="pull-right"><%= link_to 'X', dog, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger", :title => "Delete" %></div>
		  <div class="panel-body">
				<div class="col-md-3  text-center">
					<%= image_tag dog.avatar.url(:thumb) %><br>				
				</div>
				<div class="col-md-3">
					<p><strong>Breed:</strong> <%= dog.breed %></p>
					<p><strong>Age:</strong> <%= dog.age %></p>
					<p><strong>Fixed:</strong> <%= dog.fixed ? 'Yes' : 'No' %></p>
				</div>
				<div class="col-md-6">
					<p><strong>About:</strong></p>
					<p><%= dog.about %></p>
				</div>
		  </div>

		</div>
		<% end %>
		<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_dog">
			Add Dog
		</button>

		<!-- Dog Modal -->
		<div class="modal fade" id="add_dog" tabindex="-1" role="dialog" aria-labelledby="Add_Dog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="Add_Dog">Add Dog</h4>
					</div>
					<%= form_for @dog, :html => { :multipart => true } do |f| %>
					<div class="modal-body">
						<div class="form-group">
							<%= f.label :name, "Dog Name" %> 
							<%= f.text_field :name, :class => "form-control" %>
						</div>
						<div class="form-group">
							Breed: <%= f.text_field :breed, :class => "form-control" %>
						</div>
						<div class="form-group">
							Age: <%= f.number_field :age, :class => "form-control", :min => 0 %>
						</div>
						<div class="form-group">
							Not Fixed: <%= f.radio_button :fixed, false, :checked => true %> <br>
							Fixed: <%= f.radio_button :fixed, true %>

						</div>
						<div class="form-group">
							Image: <%= f.file_field :avatar, :class => "form-control" %>
						</div>
						<div class="form-group">
							About:<br>
							<textarea name="dog[about]" id="about" class="form-control"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<%= f.submit "Add Dog", :class => "btn btn-primary" %>
					</div>
					<% end %> <!-- End @dog form -->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- End Dog modal -->

		<!-- Update Owner Info Modal -->
		<div class="modal fade" id="update_owner" tabindex="-1" role="dialog" aria-labelledby="Update_Owner" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="Update_Owner">Updated Owner Profile</h4>
					</div>
					<%= form_for @owner do |f| %>
					<div class="modal-body">
						<div class="form-group">
							Full Address: <%= f.text_field :address, :class => "form-control" %>
						</div>
						<div class="form-group">
							ZipCode: <%= f.text_field :zipcode, :class => "form-control" %>
						</div>
						<div class="form-group">
							Phone: <%= f.text_field :phone, :class => "form-control" %>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<%= f.submit "Update Profile", :class => "btn btn-primary" %>
					</div>
					<% end %> <!-- End @owner form -->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!-- End Update Owner Info Modal -->
		<!-- Add Job Modal -->
		<div class="modal fade" id="add_job" tabindex="-1" role="dialog" aria-labelledby="Add_Job" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="Add_Job">Add Job</h4>
					</div>
					<%= form_for @job do |f| %>
					<div class="modal-body">
						<div class="form-group">
							Title: <%= f.text_field :title, :class => "form-control" %>
						</div>
						<div class="form-group">
							Description: 
							<textarea name="job[description]" id="description" class="form-control"></textarea>
						</div>
						Days:
						<div class="form-group">
							<label class="checkbox-inline"><%= check_box_tag "days[]", "Monday", false, :class => "form-control inline" %> M </label>
							<label class="checkbox-inline"><%= check_box_tag "days[]", "Tuesday", false, :class => "form-control" %> T </label>
							<label class="checkbox-inline"><%= check_box_tag "days[]", "Wednesday", false, :class => "form-control" %> W </label>
							<label class="checkbox-inline"><%= check_box_tag "days[]", "Thursday", false, :class => "form-control" %> T </label>
							<label class="checkbox-inline"><%= check_box_tag "days[]", "Friday", false, :class => "form-control" %> F </label>
							<label class="checkbox-inline"><%= check_box_tag "days[]", "Saturday", false, :class => "form-control" %> S </label>
							<label class="checkbox-inline"><%= check_box_tag "days[]", "Sunday", false, :class => "form-control" %> S </label>
						</div>
						Dogs:
						<div class="form-group">
							<% @owner.dogs.each do |d| %>
							<label class="checkbox-inline"><%= check_box_tag "dogs[]", d.name, false, :class => "form-control inline" %> <%= d.name %> </label>
							<% end %>
						</div>
						<div class="form-group">
							Rate:
							<%= f.text_field :rate, :class => "form-control" %>
						</div>
						<%= hidden_field :job, :status, :value => "listed" %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<%= f.submit "Place Ad", :class => "btn btn-primary" %>
					</div>
					<% end %> <!-- End @job form -->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<% end %> <!-- End @owner.nil? -->
	</div>
</div>
