  <div class="inner-container">
 
        </div>
  <section id="welcome">
  <section class="intro" style="height: 500px;">
    <div class="background-image-container">

      <article id="walkers-welcome">
        <div class="fade"></div>
        <div class="inner-container">
          <aside>
            <h1>
              For Dogwalkers
            </h1>
            <p>
              Find dogs to walk.
            </p>
          </aside>
          <div class="description" style="top: 50%; margin-top: -207px;">
            <h1>
              Dogwalkers
            </h1>
          <p>
            Connect with dog-owners with our <br>simple-to-use mobile app.  Get jobs galore!
          </p>
          <p>
            I am a dogwalker looking for clients near
            <div class="field">
           <%= text_field_tag :zipcode, "zipcode" %>
          </div>
          <div class="actions">
           <%= button_to "Get Started", walkers_path, :method => :get%>
          </div>
          </p>
          <div class="action">
              Already a member?
              <%= link_to "Login >>", new_session_path(resource_name) %>
          </div>
          </div>

        </div>
        <div class="mask"></div>
      </article>
      <article id="owners-welcome">
        <div class="fade"></div>
        <div class="inner-container">
          <aside>
            <h1>
              For Owners
            </h1>
            <p>
              Find a dogwalker! </p>
          </aside>
          <div class="description" style="top: 50%; margin-top: -207px;">
              <h1>
                Owners
              </h1>
            <p>
              Find reliable dogwalkers.
              </p>
               <p> I am looking for a dogwalker near: </p>
                <div class="field">
                <%= text_field_tag :zipcode, "zipcode" %>
                </div>
                <div class="actions">
               <%= button_to "Get Started", owners_path, :method => :get%>
               </div>
              <div class="action_links">
                <span>
                  Already a member?
                 <%= link_to "Login >>", new_session_path(resource_name) %>
                </span>
              </div>
            <p></p>
          </div>
        </div>
        <div class="mask"></div>
      </article>
    </div>
  </section>
 
<div class="jumbotron">
<h1>
  Learn More!</h1>
</div>
