<div class="container">
	<div class="row new_user_row">
		<div class="col-md-4 col-md-offset-1">
			<%= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>
			<div class="input-group">
				<%= fa_icon "user", :class => "input-group-addon" %>
				<%= f.email_field :email, :class => "form-control", :placeholder => "Email Address" %>
			</div>

			<div class="input-group">
				<%= fa_icon "lock", :class => "input-group-addon" %>
				<%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
			</div>

			<% if devise_mapping.rememberable? -%>
			<div style="position:absolute;"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"><label for="user_remember_me"><span></span>Remember Me</label></div>
			<% end -%>

			<div><%= f.submit "Sign in", :class => "btn btn-block signin" %></div>
			<% end %>
		</div>
		<div class="col-md-2 hidden-sm hidden-xs">
			<div class="circle">
				OR
			</div>
		</div>
		<div class="col-md-4">
			<!--<%= render "devise/shared/links" %>-->
			<a href="/users/auth/facebook">
				<div class="input-group facebook_link">
					<%= fa_icon "facebook", :class => "input-group-addon facebook_icon pull-left" %>
					<span>Connect with Facebook</span>
				</div>
			</a>
			<a href="/users/sign_up">
				<div class="input-group facebook_link register_link">
					<%= fa_icon "pencil", :class => "input-group-addon facebook_icon pull-left" %>
					<span>Create an Account</span>
				</div>
			</a>
		</div> <!-- End of Row -->
	</div>
</div>